#div1{
    width: 50%;
    height: 60%;
    background-color:bisque; 
    padding: 10px;
    column-count: 3;
    column-gap: 10px;
}
#div2{
    width: 300px;
    height: 800px;
    background-color: bisque;
    margin-left: 350px;
    margin-right: 300px;
    padding: 10px;
    margin-top: 
}