#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img1:hover{
    opacity: 0.3;
}
p{
    font-size: 30;
    font-style: italic; 

}
p::first-letter{
    font-size: 40px;
    font-style: oblique;
}